/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Questrial', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  background-color: #fef9f2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Questrial', sans-serif;
}

.panel-container {
  background-color: rgb(211, 203, 203);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 400px;
  text-align: center;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
  font-size: 13px;
  font-family: inherit;
  font-weight: bold;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 12px 30px;
  font-family: inherit;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.73);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}
